$primary-color: #ab0b0b;

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.features {
  padding: 5% 10%;
}

.feature-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 8rem 0px;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    margin: 0;
  }
}

.feature-item {
  width: 40%;
  text-align: center;
  background-image: url("../assets/bgfeature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: white;
  position: relative;

  h3 {
    margin-top: 4rem;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
  }

  p {
    font-size: 20px;
  }

  button {
    background: #ffffff;
    outline: none;
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
    font-weight: bold;
    color: $primary-color;
    transition: all 0.5s ease-out;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      background: $primary-color;
      color: #fff;
    }
  }

  @media screen and (max-width: 1000px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

//modals
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.6s;
}

.modal-header {
  padding: 2px 16px;
  background-color: $primary-color;
  color: white;
}

.modal-body {
  padding: 2px 16px;

  p {
    font-size: 20px;
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
